/* GLOBAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Gotham-htf;
  src: url(fonts/gothamhtf-book-webfont.ttf);
}

@font-face {
  font-family: Gotham-htf;
  src: url(fonts/gothamhtf-bold-webfont.ttf);
  font-weight: bold;
}

body {
  font-family: Gotham-htf;
  font-size: 16px;
  color: #000;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* HEADER */
header {
  position: relative;
}

header img {
  width: 100%;
  display: block;
}

header h1 {
  font-size: 4rem;
  letter-spacing: 0.4rem;
  text-transform: uppercase;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

header nav {
  font-size: 0.9rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  position: absolute;
  top: 19%;
  left: 4%;
}

header nav li {
  margin-bottom: 2em;
}

header nav li a {
  color: #000;
}

header nav li:hover a {
  color: #a67765;
}

/* MIDDLE */
/* MIDDLE__UPPER */
.middle__upper .left,
.middle__upper .right {
  width: 50%;
  float: left;
  position: relative;
}

.middle__upper::after {
  content: "";
  display: block;
  clear: both;
}

.middle__upper img {
  width: 100%;
}

.middle__upper h1,
.middle__upper h2 {
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}

.middle__upper .left h1 {
  font-size: 3.1rem;
  position: absolute;
  top: 50%;
  left: 20%;
}

.middle__upper .right .text {
  position: absolute;
  top: 44%;
  left: 34%;
  text-align: center;
}

.middle__upper .right .text h1 {
  font-size: 3.6rem;
  line-height: 3.2rem;
}

.middle__upper .right .text h2 {
  font-size: 1.8rem;
}

/* MIDDLE__LOWER */
.middle__lower p {
  font-size: 1.1rem;
  padding: 1.3rem 0;
  text-align: center;
  text-transform: uppercase;
}

.middle__lower .gallery img {
  float: left;
  width: 20%;
}

.middle__lower .gallery::after {
  content: "";
  display: block;
  clear: both;
}

/* FOOTER */
.footer__wrapper {
  width: 87%;
  margin: 2.8rem auto;
}

.footer__left {
  float: left;
}

.footer__left h1 {
  text-transform: uppercase;
  font-size: 1rem;
}

.footer__left input {
  width: 33.6vw;
  font-size: 1rem;
  padding: 0.6rem;
  margin-top: 0.6rem;
  border-radius: 0;
  border: 1px solid #000;
  outline: none;
}

.footer__left button {
  color: #fff;
  font-weight: 800;
  background: #000;
  padding: 0.6rem;
  border: 1px solid #000;
  cursor: pointer;
}

.footer__left .icons {
  margin-top: 1rem;
}

.footer__left .icons i {
  font-size: 1.7rem;
  padding: 0.7rem;
  cursor: pointer;
}

.footer__right {
  float: right;
}

.footer__right h1 {
  font-size: 1rem;
  text-transform: uppercase;
  margin: 0.8rem 0 0.2rem;
}

.footer__right a {
  color: #000;
  line-height: 1.8em;
  font-size: 0.8rem;
}

.clear {
  clear: both;
}

.footer__bottom {
  margin: 4rem 0;
}

.footer__bottom ul {
  width: 68%;
  margin: 0 auto;
}

.footer__bottom ul li {
  float: left;
  font-size: 0.7rem;
  padding: 0 1em;
  border-left: 1px solid #000;
}

.footer__bottom ul li:first-child {
  border-left: none;
}

.footer__bottom ul li a {
  color: #000;
}

.footer__bottom ul::after {
  content: "";
  display: block;
  clear: both;
}
